<h2>
  <a href="{% url 'book_detail' book.id %}">
    <h1>{{ book.title }}</h1>

    <p><strong>Author:</strong> {{ book.author }}</p>
    <p><strong>Category:</strong> {{ book.category.name }}</p>
    <p><strong>Price:</strong> ₹{{ book.price }}</p>
    <p><strong>Description:</strong> {{ book.description }}</p>

    {% if book.image %}
    <img src="{{ book.image.url }}" width="300" />
    {% endif %}

    <br /><br />
    {% for book in books %}
    {% if book.id %}
        <h2>
            <a href="{% url 'book_detail' book.id %}">
                {{ book.title }}
            </a>
        </h2>
    {% endif %}
{% endfor %}
</h2>
